<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="refresh" content="10;url= <%= theme.url %>">
<body background="/images/tomorrow.jpg" style="background-size: cover;">
<div class="not-found" style="text-align: right; margin-top: 100px;">
<h1>404 Not Found</h1><p>您访问的页面不存在！</p><p>请点击<a href="<%= theme.url %>">此处</a>返回主页。</p>
</div>
</body>