<main class="content">

    <%- partial('widget/category-cloud') %>

    <!--
    <% if (site.categories && site.categories.length > 0) { %>
    <%- partial('widget/category-radar') %>
    <% } %>
    -->

    <!--pnpm install --save hexo-statistics-charts-->
    <div id="categories-chart"></div>
    <div id="categories-radar"></div>
</main>