<div id="follow-icons">
<!--
  http://www.fontawesome.com.cn/faicons/#web-application
-->

  <% for ( follow in theme.Social_Accounts ) { -%>
    <% if (theme.Social_Accounts[follow].href) { -%>
      <a href="<%- theme.Social_Accounts[follow].href %>" title="<%- theme.Social_Accounts[follow].name %>"><i class="<%- theme.Social_Accounts[follow].class %>"></i></a>
      <% } -%>
  <% } -%>
  <% if (theme.rss) { -%>
    <a id="rss" href="<%- theme.rss %>" title="RSS"><i class="fa fa-rss fa-2x"></i></a>
  <% } -%>
</div>