<div id="Statistics">
    <% for (tongji in theme.Site_visit_tongji ) { -%>
        <% if(theme.Site_visit_tongji[tongji]) { -%>
            <%- theme.Site_visit_tongji[tongji] -%>&nbsp;
        <% } -%>
    <% } %>

</div>
